{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Checkout</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <!-- Order Summary -->
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <h2 class="h4">Order Summary ({{ product_count }})</h2>
                <div class="row">
                    <div class="col-7">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-5 text-end">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in bag_items %}
            <div class="row">
                <div class="col-2 mb1">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-100">
                    {% else %}
                        <img src="{% static 'images/default_product.jpg' %}" alt="Default Image" class="w-100">
                    {% endif %}
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 text-muted small">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-end">
                    <p class="my-0 small text-muted">€{{ item.subtotal }}</p>
                </div>
            </div>    
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col-7">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0"><strong>Grand Total:</strong></p>
                </div>
                <div class="col-5 text-end">
                    <p class="my-0">€{{ total|floatformat:2 }}</p>
                    <p class="my-0">€{{ delivery|floatformat:2 }}</p>
                    <p class="my-0"><strong>€{{ grand_total|floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkout Form -->
    <div class="col-12 col-lg-6">
        <h2 class="h4">Please fill in your details</h2>
        <form method="post" action="{% url 'checkout' %}">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="fieldset-label small mb-1">Details</legend>
                {{ order_form.full_name }}
                {{ order_form.email }}
            </fieldset>
            <fieldset class="mb-3">
                <legend class="fieldset-label small mb-1">Delivery</legend>
                {{ order_form.phone_number }}
                {{ order_form.street_address1 }}
                {{ order_form.street_address2 }}
                {{ order_form.postcode }}
                {{ order_form.town_or_city }}
                {{ order_form.country }}
            </fieldset>
    </div>


{% endblock %}