
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Contrail+One&family=Nabla&display=swap');

body {
    font-family: 'Cantarell', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: black !important;
}

.index-hero {
    background-color: #000000;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-title {
    font-family: 'nabla', serif;
    font-size: 3rem;
}

@media (max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}
