
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Contrail+One&family=Nabla&display=swap');

html {
    width: auto;
    overflow-x: hidden;
}

body {
    font-family: 'Cantarell', sans-serif;
    color: white;
    background-color: #121933;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Contrail One', serif;
}

/* Header and navbar */

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    background-color: #182249;
    z-index: 1000;
}

.navbar {
    background-color: #0d111f;
}

.nav-link {
    font-family: Contrail One, sans-serif;
}

.nav-link.active {
    color: white !important;
    border-bottom: 2px solid white;
}

.navbar-toggler {
    border: none;
    color: white;
}

.fa-solid, .cart-count {
    color: white;
    margin: 4px;
    font-size: 1.2rem;
}

.navbar-nav .nav-link {
    color: white;
}

/* Main content */
main {
    padding-top: 120px;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1050;
    border-radius: 5px;
}

.custom-toast {
    min-width: 300px;
}

.toast-capper {
    height: 2px;
}

/* Footer */

.footer {
    background-color: #0d111f;
    color: white;
    margin-top: auto;
}

.footer h5 {
    color: white;
}

.footer p {
    color: white;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.footer-divider {
    border-color: white;
}

/* Index page */

.index-hero {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Product list page */

.banner {
    text-decoration: none;
    color: white;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 8px 0;
}

.page-link {
    background-color: transparent;
    border-color: white;
    color: white;
}

.page-link:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.page-item.disabled .page-link {
    background-color: transparent;
    border-color: white;
    color: white;
}

.card {
    border: 2px solid white
}

.card-img-top {
    height: 330px;
    object-fit: contain;
    background-color: white;
    padding: 10px;
}

/* Product detail page */

.product-description * {
    color: inherit !important;
}

/* bag page */

.table {
    --bs-table-striped-bg: #121933;
    --bs-table-color: #fff;
    --bs-table-border-color: #fff;
}

td, th{
    --bs-table-bg: #121933;
}

/* Login and logout pages */

#id_login, #id_password {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-top: 4px;
}

/* Formgroup */

.card .form-group label,
.card p label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: black;
}

.card p input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 12px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.form-check-input {
    margin: 0;
}

.form-check-label {
    margin: 0;
}

#card-errors {
    color: white;
    text-decoration: underline;
    padding: 5px 0;
}