{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
    
        <!-- Image -->
    <div class="col-12 col-md-5 text-center mb-4">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'images/no_image.png' %}" class="card-img-top" alt="{{ product.name }}">
        {% endif %}
    
    <!-- Details -->
    </div>
    <div class="col-12 col-md-6">   
    <h1>{{ product.name }}</h1>
    {% if product.author %}
    <p>By {{ product.author }}</p>
    {% endif %}
    <h2>€ {{ product.price }}</h2>
    <p>{{ product.description|safe }}</p>
    </div>
    </div>
    
</div>

{% endblock content %}
