{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center g-4">
        {% for product in products %}
        <div class="col-12 col-md-5 col-lg-4">
            <div class="card">
                <a href="{{ product.product_url }}" class="text-decoration-none text-dark">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/no_image.png' %}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h2 class="card-title h4">{{ product.name }}</h2>
                    {% if product.author %}
                        <h3 class="card-subtitle mb-2 text-muted h5">{{ product.author }}</h3>
                    {% endif %}
                    <h3 class="card-subtitle mb-2 text-muted h5">{{ product.category.name }}</h3>
                    <p class="card-text">€{{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
{% if is_paginated %}
<div>

{% endblock content %}